
Strife 5.0/Library/SourceAssetDB
Strife 5.0/Library/gfu/cache/repoinfo.yaml
Strife 5.0/Library/gfu/cache/gituser.yaml
Strife 5.0/Library/gfu/cache/gittrackingstatus.yaml
Strife 5.0/Library/gfu/cache/gitstatusentries.yaml
Strife 5.0/Library/gfu/cache/gitlog.yaml
Strife 5.0/Library/gfu/cache/gitlocks.yaml
Strife 5.0/Library/gfu/cache/branches.yaml
Strife 5.0/Temp/__Backupscenes/0.backup
Strife 5.0/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Strife 5.0/Library/SourceAssetDB
Strife 5.0/Library/SceneVisibilityState.asset
Strife 5.0/Library/gfu/cache/gituser.yaml
Strife 5.0/Library/gfu/cache/gittrackingstatus.yaml
Strife 5.0/Library/gfu/cache/gitstatusentries.yaml
Strife 5.0/Library/gfu/cache/gitlog.yaml
Strife 5.0/Library/gfu/cache/gitlocks.yaml
Strife 5.0/Library/gfu/cache/branches.yaml
